.wrapper-container {
    width: 850px;
    height: 90vh;
    background-color: grey;
    margin: 2rem auto;
}

$myColor: yellow;

.logo {
    color: $myColor;
}

.header {
    display: flex;
    justify-content: space-around;
}