.wrapper-container {
    width: 850px;
    height: 90vh;
    background-color: grey;
    margin: 2rem auto;
}

$myColor: yellow;

.logo {
    color: $myColor;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.sign-up, .logo {
    margin-top: 2rem;
}

button {
    margin-right: 20px;
}